/* font used in Top Stories: Seizieme Pro */
@font-face {
  font-family: "Georgia";
  src: local("Georgia"), url(../font/Georgia Gras.ttf) format("truetype");
}

body {
  font-family: "Roboto", sans-serif;
}
.page-wrp {
  width: 100%;
}
.page-container {
  max-width: 73.125em;
  margin: 0 auto;
}
.articleDetail_gridView {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1.2fr 0.6fr;
}

.articleDetail_intro {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  grid-gap: 2rem;
}

.articleDetail_intro  article {
  border-bottom: 1px solid #ededed;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.homepage_topStoriesFirstGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 1.9rem
}


.homepage_topStoriesFirstGrid article:nth-of-type(1) {
  grid-column: 1/ span 2;
  grid-row: 1/ span 2;
}

@media screen and (max-width: 1024px) {
  .articleDetail_gridView {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .articleDetail_intro {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .homepage_topStoriesFirstGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .homepage_topStoriesFirstGrid article:nth-of-type(1) {
    grid-column: 1/ 1;
    grid-row: 1/ 1;
  }

  .homepage_topStoriesFirstGrid article:nth-of-type(4), .homepage_topStoriesFirstGrid article:nth-of-type(5) {
    padding-top: 30px;
  }

  .navbar-search-container {
    display: none;
  }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 512px) {
}

@media screen and (max-width: 412px) {
}
